<div id="itemByBarcode" style="display: none; margin-top:25px;">
    <input type="radio" id="product" name="searchBy" value="0">
    <label for="product">номенклатуры</label><br>
    <input type="radio" id="consignment" name="searchBy" value="1" checked="checked">
    <label for="consignment">партии</label><br>
    <input type="radio" id="ShifrMDM" name="searchBy" value="2">
    <label for="other">артикулу МДМ</label><br>
    <input type="text" id="barcodeValue" placeholder="Введите штрих-код" style="margin-top:10px;"><br>

    <div style="text-align:right;">
    <input type="checkbox" id="streamMode" style="margin-top:10px;">
    <label for="streamMode" style="font-weight:100;">Потоковый режим</label>
    </div>
</div>
