<div id="additemtobasket" class="row" style="display: none;">

        <span id="innerPartyKey" style="visibility:hidden;"></span>

        <div style="margin-top: 25px; margin-left: 25px; font-size: 12px; font-weight: normal;">
            <span style="font-weight:bold;">Tовар:</span> <span id="Product"></span>
        </div>
        <div style="margin-top: 25px; margin-left: 25px; font-size: 12px; font-weight: normal;">
            <span style="font-weight:bold;">Склад:</span> <span id="Storage"></span>
        </div>
        <div style="margin-top: 25px; margin-left: 25px; font-size: 12px; font-weight: normal;">
            <span style="font-weight:bold;">Артикул:</span> <span id="Shifr"></span>
        </div>
        <div style="margin-top: 25px; margin-left: 25px; font-size: 12px; font-weight: normal;">
            <span style="font-weight:bold;">Артикул МДМ:</span> <span id="Shifr_MDM"></span>
        </div>
        <div style="margin-top: 25px; margin-left: 25px; font-size: 12px; font-weight: normal;">
            <span style="font-weight:bold;">Штрих-код товара:</span> <span id="BacodeProduct"></span>
        </div>
        <div style="margin-top: 25px; margin-left: 25px; margin-bottom:25px; font-size: 12px; font-weight: normal;">
            <span style="font-weight:bold;">Штрих-код партии:</span> <span id="BacodeConsignment"></span>
        </div>
</div>
