<div id="basket" style="text-align:right; margin-top:25px;">
    <div id="logo" class="bucket-icon" style="float:right;" onclick="ShowBusket()"></div>
    <a class="tarash-i update_link tooltips" style="text-decoration:none!important;" onclick="ShowBusket()">
        <span class="tooltip200down-message">Вы выбрали в корзину <span class="basketCount"></span> позиций остатков</span>
        <span class="basketCount" style="margin-top: 20px;font-weight: bold;display: grid;font-weight:bold;"></span>
    </a>
</div>
