<div id="busketContent" class="row" style="display: none;">
    <h2 style="margin-top:0px; margin-left:25px;">Содержимое корзины:</h2>
    <div style="float:right; margin-right:20px;">
        <label for="shortForm">Доп.столбцы</label>
        <input type="checkbox" name="shortForm" id="shortForm">
    </div>
    <div id="jqxWidgetUC" style="margin-left:25px; margin-right:25px;">
        <div id="jqxgridUC">
        </div>
    </div>
</div>
