alter table [dbo].[OrderStatuses]
 add ShortName varchar(25) null;

 GO

alter table [dbo].[OrderStatuses]
 add FontColor varchar(25) null;

 GO

alter table [dbo].[OrderStatuses]
 add BackgroundColor varchar(25) null;

 GO


