@{
    ViewBag.Title = "Возникли трудности в работе программы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 main">
            <h4>Исключительная ситуация</h4>
        
            Внимание! В работе программы возник некоторый сбой. Информация для устранения ошибки направлена разработчикам.
            Просим извинения за временные неудобства. Попробуйте связаться со службой поддержки для получения детальных комментариев.


            <a class="btn btn-default" href="@Url.Action("Index", "Home")">
                Вернуться к работе с программой....
            </a>
        </div>

    </div>
</div>
