<?xml version="1.0"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Persist Security Info=False;User ID=barnivann;Password=RbhbkbityZhjckfd1981;Initial Catalog=Barnivann;Data Source=.\SQLEX2008R2;" providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="BarnIVannEntities1" connectionString="metadata=res://*/Entity.BarnivannModel.csdl|res://*/Entity.BarnivannModel.ssdl|res://*/Entity.BarnivannModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEX2008R2;initial catalog=Barnivann;persist security info=False;user id=barnivann;password=RbhbkbityZhjckfd1981;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"   xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="SmsServiceMode" value="1"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>    <!--1 = active, 0 = inactive-->
  </appSettings>
</configuration>
