<div id="addroutesdialog" class="row" style="display: none; margin:auto;">

    <div class="col-md-10">
        <div class="form-group" style="margin-left:5px;">
            <div id="AddConcursTable" class="row">
                <div id="jqxWidgetRoutes">
                    <div id="jqxgridRoutes">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
