@model Corum.Models.OrderNavigationResult<Corum.Models.ViewModels.OrderConcurs.OrderCompetitiveListViewModel>

<div class="col-md-4">
    <div class="form-group" style="font-size: 14px;">
        <div class="row">
            <div class="col-md-12" style="width:100%;">
                <table class="table-bordered" width="100%" border="1">
                    <thead>
                        <tr>
                            <th id="drpDwnListScr" class="dropdown text-center bg-warning" colspan="3">
                                <a id="drpDwnListTend" href="#" class="dropdown-toggle" data-toggle="dropdown">Новый тендер<span class="caret"></span></a>
                                <ul id ="drpListMenu" class="dropdown-menu scrollable-menu" role="menu">
                                    @foreach (var item in Model.tenderForma.data.listTendersToOrder)
                                    {
                                        <li><a href="#">@item.Text</a></li>
                                    }
                                </ul>
                            </th>
                            <th id="fStatusTender" class="text-center bg-warning" style="padding:5px 0px 5px 0px;">(не создан)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th id ="remainingTM" colspan="4" style="padding:5px 0px 5px 0px;" class="text-center bg-warning"><span class="badge">н.д.</span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td scope="row" class="col-md-3">Тур:</td>
                            <th id="CountTUR" scope="row" style="padding:2px 0px 2px 0px;" class="col-md-3 text-center"><span class="badge">н.д.</span></th>
                            <td scope="row" class="col-md-5 text-center">Тип:</td>
                            <th id="TypeTender" class="text-center"><span class="badge">н.д.</span></th>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0px 0px 0px 5px; font-size: 13px;" class="text-left">Дата начала:</td>
                            <th id="DateStartTender" scope="row" class="text-center"><span style="font-size: 12px;" class="badge">н.д.</span></th>
                            <td id="BtnPostOne" style="padding:2px 2px 2px 2px;" class="text-center">
                                <a onclick="SendNotification(@Model.Id)"
                                   class="delete_link btn btn-success col-md-12 btn-sm btn-tend" style="display: initial">
                                    Создать тендер
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0px 0px 0px 5px; font-size: 13px;" class="text-left">Дата окончания:</td>
                            <th id="DateEndTender" scope="row" class="text-center" style="padding: 0px 0px 2px 0px;"><span style="font-size: 12px;" class="badge">н.д.</span></th>
                            <td id="BtnPostTwo" style="padding:2px 2px 2px 2px;" class="text-center">
                                <a id="UpdateTendData" class="delete_link btn btn-success col-md-12 btn-sm btn-tend" style="display: none">
                                    Обновить с APS
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div style="width:100%; height:10px; clear:both;"></div>
                <div style="width: 15px; height: 15px; background: blue; float: left; margin-left: 0px;"></div>
                <div style="float: left; margin-left:5px;">фрахт</div>
            </div>
            <div class="col-md-4">
                <div style="width:100%; height:10px; clear:both;"></div>
                <div style="width: 15px; height: 15px; background: green; float: left; margin-left: 0px;"></div>
                <div style="float: left; margin-left: 5px;">дог. цена</div>

            </div>
            <div class="col-md-3">

                <div style="width: 100%; height: 10px; clear: both;"></div>
                <div style="width: 15px; height: 15px; background: black; float: left; margin-left: 0px;"></div>
                <div style="float: left;margin-left:5px;">тариф</div>
            </div>
            <div class="col-md-2">
                <div style="width:100%; height:5px; clear:both;"></div>
                <div style="float: left; margin-left: 0px;">

                    <a onclick="window.open('@Url.Action("ConcursHistory", "OrderConcurs", new {Id = 0, ShowAll = true, OrderId = @Model.CompetitiveListInfo.Id})', '_blank', 'location=false,scrollbars=yes,status=yes');"
                       class="delete_link btn btn-success">
                        История
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


