@model List<Corum.Models.Tender.TenderServices>
<div id="partialModul" class="row" style="display: none; margin:auto;">

    @using (Html.BeginForm("SendNotificationTender", "OrderConcurs", FormMethod.Post))
    {
        <div class="form-group row" dir="auto">
            <label class="col-md-4" style="font-weight: normal !important;">
                Услуга для тендера
            </label>
            <div class="col-md-8">
                @{SelectList listServices = new SelectList(Model.ToList(), "Id", "industryName"); }
                @Html.DropDownList("services", listServices as SelectList)


                @*@Html.TextBox("Receiver", "",
                    htmlAttributes: new
                    {
                        id = "ReceiverId",
                        @class = "filter_dropdown",
                        @name = "ReceiverId",
                        data_source_url = Url.Action("GetReceivers", "Orders"),
                        data_droplist_placeholder = "Список услуг",
                        data_selected_text = ""
                    })*@

            </div>
            <br />
            <br />
            <div class="form-group row" >
                <label class="col-md-4" style="font-weight: normal !important;">
                    Количество автомобилей
                </label>

                <input type="number" min="1" value="1" name="cars" />

            </div>

            <button name="action" value="">Отмена</button>
            <button name="action" value="">Отправить</button>
        </div>

        @*<div class="form-group row">
                <label class="col-md-4" style="font-weight: normal !important;">
                    Количество автомобилей
                </label>
                <div class="col-md-8">
                    <input type="number" min="1" value="1" />
                </div>
            </div>*@
    }
</div>
