
    <div id="contResTen" class=".offset-md-4 align-self-end">
        <div class="form-group" style="font-size: 14px;">
            <div class="row">
                <div class="col-md-12" style="width:100%;">
                    <table class="table-bordered" width="100%" border="1">
                        <thead>
                            <tr>
                                <th class="text-center bg-warning" style="padding:5px 0px 5px 0px;">
                                  Результаты тендера
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="TdResult" style="max-height: 160px; overflow-x: hidden; text-align: justify; color: black; font-size: 13px; padding: 10px 10px 10px 10px;"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


