@model Corum.Models.OrderNavigationResult<Corum.Models.ViewModels.OrderConcurs.OrderCompetitiveListViewModel>

<div id="divST" class="dropdown" style="display:inline-block;">
    <button class="btn btn-info dropdown-toggle" style="margin-bottom:10px; margin-left:10px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
           Этап
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="top:80% !important; font-size:12px;">
        @foreach (var status in Model.listStatuses)
        {
            <li id="liStatKL">@Html.ActionLink(status.StepShortName, "SetListStatus", "OrderConcurs", new { StepId = status.Id, OrderId = Model.orderInfo.Id }, new { @onclick = "OnIndexCallStatus(this)" })</li>
        }
    </ul>
</div>
