@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
   
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 main">
            <h4>Исключительная ситуация</h4>

            Доступ к ресурсу запрещен....

            <a class="btn btn-default" href="@Url.Action("Index", "Home")">
                Вернуться к работе с программой....
            </a>
        </div>

    </div>
</div>

