@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Ваш пароль успешно изменен.";
}

<div class="bg-login-sl"></div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
        <div class="logo-login"></div>
            <h2 class="title-t2">@ViewBag.Title</h2>
        <div class="well bs-component form_tl">
            <h4 class="form_tl">
                Ваш пароль был изменен. Пожалуйста, @Html.ActionLink("перейдите по этой ссылке для входа в систему", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </h4>
        </div>
    </div>
</div>
