<div class="form-group row" id="divDirCarrierInfo">
    <label class="col-md-4" style="font-weight: normal !important;">
        Перевозчик*
    </label>
    <div class="col-md-8">

        @Html.TextBox("DirCarrierInfo", "",
                htmlAttributes: new
                {
                    id = "DirCarrierInfo",
                    @class = "filter_dropdown",
                    @name = "DirCarrierInfo",
                    data_source_url = Url.Action("GetCarrierInfo", "Orders"),
                    data_droplist_placeholder = "Выберите перевозчика",
                    data_selected_text = ""
                })
    </div>
</div>


