<style>
    .select2-container {
        width: 80%;
    }
</style>

<div id="Organizations" class="row" style="display: none;">
    <div id="jqxWidget">
        <div id="jqxgrid">

        </div>
    </div>
</div>
