<div id="mapdialog" class="row" style="display: none; margin: auto;">
    <div id="mapdistance"></div>
    <div id="msgPoints" style="color: red;" hidden> На карте отображены не все точки из-за отсутствия координат!</div>
    <div id="map" style="width: 750px; height: 500px;"></div>

</div>
