@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    ViewBag.Title = "Сброс пароля";
}


<div class="bg-login-sl"></div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
        <div class="logo-login"></div>
            <h2 class="title-t2">@ViewBag.Title</h2>
        <div class="well bs-component form_tl">
            <h4 class="form_tl">Пожалуйста, проверьте ваш e-mail. Туда было отправлено письмо с инструкцией по изменению пароля.</h4>
        </div>
    </div>
</div>

