<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!--<add name="DefaultConnection" connectionString="Persist Security Info=False;User ID=uh417455_user;Password=fpK51Q1qWt;Initial Catalog=uh417455_db;Data Source=93.190.45.158,33301;" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Entity.Corum.csdl|res://*/Entity.Corum.ssdl|res://*/Entity.Corum.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.190.45.158,33301;initial catalog=uh417455_db;persist security info=False;User ID=uh417455_user;Password=fpK51Q1qWt;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Dev_Old-->
    <add name="DefaultConnection" connectionString="Integrated Security=SSPI;Initial Catalog=uh417455_db2;Data Source=WORK;" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Entity.Corum.csdl|res://*/Entity.Corum.ssdl|res://*/Entity.Corum.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORK;initial catalog=uh417455_db2;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Dev_New--><!--
    <add name="DefaultConnection" connectionString="Integrated Security=SSPI;Initial Catalog=uh417455_db2;Data Source=WORK;" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Entity.Corum.csdl|res://*/Entity.Corum.ssdl|res://*/Entity.Corum.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORK;initial catalog=uh417455_db2;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  </connectionStrings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>