delete from [dbo].[AdditionalRoutePoints]
GO
update [dbo].[ContractSpecifications]
set  RouteId = null,
     DeparturePoint = null,
	 ArrivalPoint = null;
Go
delete from [dbo].[Routes]
GO
update [dbo].[Projects]
set  Shipper = null,
     Consignee = null;
Go
delete from [dbo].[Organization]
GO
SET IDENTITY_INSERT [dbo].[Organization] ON 
GO
INSERT [dbo].[Organization] ([Id], [Name], [Address], [City], [CountryId], [IsTruck]) VALUES (1, N'ГП "ДЭТЦ"', N'ул. Коржова, 16', N'Мирноград', 804, 0)
INSERT [dbo].[Organization] ([Id], [Name], [Address], [City], [CountryId], [IsTruck]) VALUES (2, N'Днепропетровский окружной административный суд ', N'вул. Академика Янгеля, 4', N'Днепр', 804, 0)
INSERT [dbo].[Organization] ([Id], [Name], [Address], [City], [CountryId], [IsTruck]) VALUES (3, N'ООО"Сота групп" ', N'Криворожское шоссе,1 ', N'Днепр', 804, 0)
GO

SET IDENTITY_INSERT [dbo].[Organization] OFF
GO