USE [uh417455_db2]
GO
/****** Object:  Table [dbo].[SpecificationNames]    Script Date: 18.04.2021 23:27:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpecCode] [int] NOT NULL,
	[SpecName] [nvarchar](500) NOT NULL,
	[nmcTestId] [int] NULL,
	[nmcWorkId] [int] NULL,
	[industryId] [int] NULL,
	[industryId_Test] [int] NULL,
 CONSTRAINT [PK_SpecificationNames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SpecificationNames] ON 
GO
INSERT [dbo].[SpecificationNames] ([Id], [SpecCode], [SpecName], [nmcTestId], [nmcWorkId], [industryId], [industryId_Test]) VALUES (1, 311, N'3.1.1. Послуги перевезення вантажів довгоміри - Тягачі з бортовими напівпричепами та бортові автомобілі (Q =от 5 до 20тн.) З тентом і без
', 1208, 34011, 383, 50)
GO
INSERT [dbo].[SpecificationNames] ([Id], [SpecCode], [SpecName], [nmcTestId], [nmcWorkId], [industryId], [industryId_Test]) VALUES (4, 312, N'3.1.2. Послуги перевезення вантажів майданчиком (авто без бортів від 5 до 9м; Q = до 15тн)
', 1209, 34012, 383, 50)
GO
INSERT [dbo].[SpecificationNames] ([Id], [SpecCode], [SpecName], [nmcTestId], [nmcWorkId], [industryId], [industryId_Test]) VALUES (5, 313, N'3.1.3. Послуги перевезення вантажів майданчиком (авто без бортів від 10 до 12м; Q = до 15тн)', 1210, 34013, 383, 50)
GO
SET IDENTITY_INSERT [dbo].[SpecificationNames] OFF
GO
