@model Corum.Models.ViewModels.Orders.OrderBaseViewModel

<div id="reportdialog" class="row" style="display: none; margin:auto;">


    <div class="form-group row">
        <label class="col-md-4" style="font-weight: normal !important;">
            Проект
        </label>
        <div class="col-md-8">
            @Html.TextBox("OrderProject", "",
                     htmlAttributes: new
                     {
                         id = "OrderProjectId",
                         @class = "filter_dropdown",
                         @name = "OrderProjectId",                         
                         data_source_url = Url.Action("GetOrderProjects", "Orders", new { orderId = Model.Id }),
                         data_droplist_placeholder = "Выберите проект",
                         data_selected_text = ""
                     })
        </div>
    </div>   
</div>

